body {
    background-color: #f8f9fa;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
}

.post-header {
    font-size: 2.5rem;
    font-weight: 700;
}

.post-details h1 {
    font-size: 1.5rem;
    color: #6c757d;
}

.img-preview {
    display: block;
    margin: 0 auto 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.created-updated {
    color: #495057;
    font-weight: 600;
}

.back-btn {
    margin-top: 20px;
}